@import "tailwindcss";
@import "./styles/tokens.css";

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: var(--font-body);
}

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-display: "Manrope", sans-serif;
    --font-body: "Plus Jakarta Sans", sans-serif;
    --font-sans: "Plus Jakarta Sans", sans-serif;
    --color-context-card-border: var(--context-card-border);
    --color-background-100: var(--ds-background-100);
    --shadow-border: var(--ds-shadow-border);
    --shadow-border-small: var(--ds-shadow-border-small);
    --shadow-border-medium: var(--ds-shadow-border-medium);
    --shadow-border-large: var(--ds-shadow-border-large);
    --shadow-tooltip: var(--ds-shadow-tooltip);
    --shadow-menu: var(--ds-shadow-menu);
    --shadow-modal: var(--ds-shadow-modal);
    --shadow-fullscreen: var(--ds-shadow-fullscreen);
    --animate-fade-spin: fade-spin 1.2s linear infinite;
    --color-ds-background-100: var(----ds-background-100);
    --color-ds-gray-1000: var(----ds-gray-1000);
    --color-red-800: var(--ds-red-800);
    --color-red-900: var(--ds-red-900);
    --color-amber-800: var(--ds-amber-800);
    --color-amber-850: var(--ds-amber-850);
    --color-gray-100: var(--ds-gray-100);
    --color-gray-400: var(--ds-gray-400);
    --color-gray-700: var(--ds-gray-700);
    --color-gray-1000: var(--ds-gray-1000);
    --color-gray-1000-h: var(--ds-gray-1000-h);
    --color-gray-alpha-200: var(--ds-gray-alpha-200);
    --color-gray-alpha-400: var(--ds-gray-alpha-400);
    --shadow-focus-ring: var(--ds-focus-ring);
    --color-gray-900: var(--ds-gray-900);
    --color-gray-alpha-500: var(--ds-gray-alpha-500);
    --color-background-200: var(--ds-background-200);
    --color-geist-foreground: var(--geist-foreground);
    --shadow-focus-input: var(--ds-input-ring);
    --shadow-error-input: var(--ds-input-error-ring);
    --shadow-error-input-hover: var(--ds-input-error-hover-ring);
    --color-gray-alpha-100: var(--ds-gray-alpha-100);
    --color-color-red-900: var(----color-red-900);
    --ds-input-error-hover-ring: var(----ds-input-error-hover-ring);
    --ds-input-error-ring: var(----ds-input-error-ring);
    --ds-input-ring: var(----ds-input-ring);
    --color-ds-background-200: var(----ds-background-200);
    --color-ds-gray-alpha-600: var(----ds-gray-alpha-600);
    --color-ds-gray-alpha-500: var(----ds-gray-alpha-500);
    --color-ds-gray-alpha-400: var(----ds-gray-alpha-400);
    --color-ds-gray-900: var(----ds-gray-900);
    --color-ds-gray-700: var(----ds-gray-700);
    --color-ds-gray-100: var(----ds-gray-100);
    --color-ds-red-900: var(----ds-red-900);
    --color-ds-red-500: var(----ds-red-500);
    --color-ds-red-300: var(----ds-red-300);
    --color-ds-gray-alpha-100: var(----ds-gray-alpha-100);
    --ds-focus-ring: var(----ds-focus-ring);
    --ds-focus-color: var(----ds-focus-color);
    --color-ds-gray-alpha-200: var(----ds-gray-alpha-200);
    --color-ds-gray-1000-h: var(----ds-gray-1000-h);
    --color-ds-gray-400: var(----ds-gray-400);
    --color-ds-amber-850: var(----ds-amber-850);
    --color-ds-amber-800: var(----ds-amber-800);
    --color-ds-blue-700: var(----ds-blue-700);
    --color-ds-red-800: var(----ds-red-800);
    --color-ds-amber-900: var(----ds-amber-900);
    --color-ds-amber-100: var(----ds-amber-100);
    --color-ds-red-100: var(----ds-red-100);
    --color-ds-blue-900: var(----ds-blue-900);
    --color-ds-blue-100: var(----ds-blue-100);
    --ds-shadow-fullscreen: var(----ds-shadow-fullscreen);
    --ds-shadow-modal: var(----ds-shadow-modal);
    --ds-shadow-menu: var(----ds-shadow-menu);
    --ds-shadow-tooltip: var(----ds-shadow-tooltip);
    --ds-shadow-border-large: var(----ds-shadow-border-large);
    --ds-shadow-large: var(----ds-shadow-large);
    --ds-shadow-border-medium: var(----ds-shadow-border-medium);
    --ds-shadow-medium: var(----ds-shadow-medium);
    --ds-shadow-border-small: var(----ds-shadow-border-small);
    --ds-shadow-small: var(----ds-shadow-small);
    --ds-shadow-border: var(----ds-shadow-border);
    --color-color-color-red-900: var(----color-color-red-900);
    --color-radio-group-fg-hover: var(----radio-group-fg-hover);
    --color-radio-group-fg-active: var(----radio-group-fg-active);
    --color-radio-group-fg-default: var(----radio-group-fg-default);
    --color-radio-group-bg-hover: var(----radio-group-bg-hover);
    --color-radio-group-bg-active: var(----radio-group-bg-active);
    --color-radio-group-bg-default: var(----radio-group-bg-default);
  @keyframes fade-spin {
  0% {
    opacity: 0.15;
        }
  100% {
    opacity: 1;
        }
    }
  --color-gray-200: var(--ds-gray-200);
  --color-gray-500: var(--ds-gray-500);
  --color-ds-gray-500: var(----ds-gray-500);
  --color-ds-gray-200: var(----ds-gray-200)
;
  @keyframes fadeSlideIn {
  to {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
        }
    }
  @keyframes slideRightIn {
  to {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
        }
    }
  @keyframes testimonialIn {
  to {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px) scale(1);
        }
    }}

:root {
    --context-card-border: hsla(0, 0%, 92%, 1);
    --ds-background-100: hsla(0, 0%, 100%, 1);
    --ds-shadow-border: 0 0 0 1px rgba(0, 0, 0, 0.08);
    --ds-shadow-small: 0px 2px 2px rgba(0, 0, 0, 0.04);
    --ds-shadow-border-small: var(--ds-shadow-border), var(--ds-shadow-small);
    --ds-shadow-medium: 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 8px -8px rgba(0, 0, 0, 0.04);
    --ds-shadow-border-medium: var(--ds-shadow-border), var(--ds-shadow-medium);
    --ds-shadow-large: 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 16px -4px rgba(0, 0, 0, 0.04);
    --ds-shadow-border-large: var(--ds-shadow-border), var(--ds-shadow-large);
    --ds-shadow-tooltip: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 4px 8px rgba(0, 0, 0, 0.04);
    --ds-shadow-menu: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 4px 8px -4px rgba(0, 0, 0, 0.04), 0px 16px 24px -8px rgba(0, 0, 0, 0.06);
    --ds-shadow-modal: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px -4px rgba(0, 0, 0, 0.04), 0px 24px 32px -8px rgba(0, 0, 0, 0.06);
    --ds-shadow-fullscreen: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px -4px rgba(0, 0, 0, 0.04), 0px 24px 32px -8px rgba(0, 0, 0, 0.06);
    --ds-blue-100: oklch(97.32% 0.0141 251.56);
    --ds-blue-900: oklch(53.18% 0.2399 256.9900584162342);
    --ds-red-100: oklch(96.5% 0.0223 13.09);
    --ds-red-900: oklch(54.99% 0.232 25.29);
    --ds-amber-100: oklch(97.48% 0.0331 85.79);
    --ds-amber-900: oklch(52.79% 0.1496 54.65);
    --ds-gray-100: hsla(0, 0%, 95%, 1);
    --ds-gray-1000: hsla(0, 0%, 9%, 1);
    --ds-gray-alpha-400: hsla(0, 0%, 0%, 0.08);
    --color-red-900: oklch(54.99% 0.232 25.29);
    --ds-red-800: oklch(58.19% 0.2482 25.15);
    --ds-blue-700: oklch(57.61% 0.2508 258.23);
    --ds-amber-800: oklch(77.21% 0.1991 64.28);
    --ds-amber-850: hsl(33, 96%, 42%);
    --ds-gray-400: hsla(0, 0%, 92%, 1);
    --ds-gray-700: hsla(0, 0%, 56%, 1);
    --ds-gray-1000-h: hsl(0, 0%, 22%);
    --ds-gray-alpha-200: hsla(0, 0%, 0%, 0.08);
    --ds-focus-color: var(--ds-blue-700);
    --ds-focus-ring: 0 0 0 2px var(--ds-background-100), 0 0 0 4px var(--ds-focus-color);
    --ds-red-300: oklch(94.33% 0.0369 15.011509923860523);
    --ds-red-500: oklch(84.47% 0.1018 17.71);
    --ds-gray-900: hsla(0, 0%, 40%, 1);
    --ds-gray-alpha-500: hsla(0, 0%, 0%, 0.21);
    --ds-gray-alpha-600: hsla(0, 0%, 0%, 0.34);
    --ds-background-200: hsla(0, 0%, 98%, 1);
    --geist-foreground: #000;
    --ds-input-ring: 0 0 0 1px var(--ds-gray-alpha-600), 0 0 0 4px rgba(0, 0, 0, .16);
    --ds-input-error-ring: 0 0 0 1px var(--ds-red-900), 0 0 0 4px var(--ds-red-300);
    --ds-input-error-hover-ring: 0 0 0 1px var(--ds-red-900), 0 0 0 4px var(--ds-red-500);
    --ds-gray-alpha-100: rgba(0, 0, 0, 0.05);
    --radio-group-bg-default: #e1e1e1;
    --radio-group-bg-active: #0a0a0a;
    --radio-group-bg-hover: #00a6fb;
    --radio-group-fg-default: #0a0a0a;
    --radio-group-fg-active: #fff;
    --radio-group-fg-hover: #fff;
    --ds-gray-200: hsla(0, 0%, 92%, 1);
    --ds-gray-500: hsla(0, 0%, 79%, 1);
}

.dark {
    --context-card-border: hsla(0, 0%, 18%, 1);
    --ds-background-100: hsla(0, 0%, 4%, 1);
    --ds-shadow-border: 0 0 0 1px rgba(255, 255, 255, 0.145);
    --ds-shadow-small: 0px 1px 2px rgba(0, 0, 0, 0.16);
    --ds-shadow-border-small: var(--ds-shadow-border), 0px 1px 2px rgba(0, 0, 0, 0.16);
    --ds-shadow-medium: 0px 2px 2px rgba(0, 0, 0, 0.32), 0px 8px 8px -8px rgba(0, 0, 0, 0.16);
    --ds-shadow-border-medium: var(--ds-shadow-border), 0px 2px 2px rgba(0, 0, 0, 0.32), 0px 8px 8px -8px rgba(0, 0, 0, 0.16);
    --ds-shadow-large: 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 16px -4px rgba(0, 0, 0, 0.04);
    --ds-shadow-border-large: var(--ds-shadow-border), 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 16px -4px rgba(0, 0, 0, 0.04);
    --ds-shadow-tooltip: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 4px 8px rgba(0, 0, 0, 0.04);
    --ds-shadow-menu: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 4px 8px -4px rgba(0, 0, 0, 0.04), 0px 16px 24px -8px rgba(0, 0, 0, 0.06);
    --ds-shadow-modal: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px -4px rgba(0, 0, 0, 0.04), 0px 24px 32px -8px rgba(0, 0, 0, 0.06);
    --ds-shadow-fullscreen: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px -4px rgba(0, 0, 0, 0.04), 0px 24px 32px -8px rgba(0, 0, 0, 0.06);
    --ds-blue-100: oklch(22.17% 0.069 259.89);
    --ds-blue-900: oklch(71.7% 0.1648 250.79360374054167);
    --ds-red-100: oklch(22.1% 0.0657 15.11);
    --ds-red-900: oklch(69.96% 0.2136 22.03);
    --ds-amber-100: oklch(22.46% 0.0538 76.04);
    --ds-amber-900: oklch(77.21% 0.1991 64.28);
    --ds-gray-100: hsla(0, 0%, 10%, 1);
    --ds-gray-1000: hsla(0, 0%, 93%, 1);
    --ds-gray-alpha-400: hsla(0, 0%, 100%, 0.14);
    --color-red-900: oklch(69.96% 0.2136 22.03);
    --ds-red-800: oklch(58.01% 0.227 25.12);
    --ds-blue-700: oklch(57.61% 0.2321 258.23);
    --ds-amber-800: oklch(77.21% 0.1991 64.28);
    --ds-gray-400: hsla(0, 0%, 18%, 1);
    --ds-gray-700: hsla(0, 0%, 56%, 1);
    --ds-gray-1000-h: hsl(0, 0%, 80%);
    --ds-gray-alpha-200: hsla(0, 0%, 100%, 0.09);
    --ds-red-300: oklch(31.47% 0.1105 20.96);
    --ds-red-500: oklch(40.68% 0.1479 23.16);
    --ds-gray-900: hsla(0, 0%, 63%, 1);
    --ds-gray-alpha-500: hsla(0, 0%, 100%, 0.24);
    --ds-gray-alpha-600: hsla(0, 0%, 100%, 0.51);
    --ds-background-200: hsla(0, 0%, 0%, 1);
    --geist-foreground: #fff;
    --ds-input-ring: 0 0 0 1px var(--ds-gray-alpha-600), 0 0 0 4px rgba(255, 255, 255, .24);
    --ds-gray-alpha-100: rgba(255, 255, 255, 0.06);
    --radio-group-bg-default: #363636;
    --radio-group-bg-active: #fff;
    --radio-group-bg-hover: #00a6fb;
    --radio-group-fg-default: #fff;
    --radio-group-fg-active: #0a0a0a;
    --radio-group-fg-hover: #fff;
    --ds-gray-200: hsla(0, 0%, 12%, 1);
    --ds-gray-500: hsla(0, 0%, 27%, 1);
}

/* Number Input Spin Buttons Remove */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f;
}